-@featured_projects.each do |p|
  =render partial: "projects/project_block", locals: {p: p}

.center
  =link_to projects_path, class: "waves-effect waves-teal btn btn-flat" do
    Découvrir tous les projets