<div id="projects">
  <div v-for="project in projects"
       is="project-row"
       :project="project">
  </div>
</div>


<script type="text/x-template" id="project-row">
    <div class="card">
      <div class="card-content">
        <div v-if="editMode">
          <div class="input-field">
            <input type="Text" v-model="vproject.name" id="name">
          </div>
        </div>
        <a class="card-title black-text"
           v-bind:href="project.urls.show"
           v-else>
          {{ vproject.name }}
        </a>
        <p class="grey-text project-subtitle">
          <i class="material-icons">person</i>

          <span>
            Proposé par {{ vproject.author_name }}
          </span>
          <i class="material-icons">label</i>
          <span v-if="vproject.category">
            {{ vproject.category.name }}
          </span>
          <i class="material-icons">group</i>
          <span>
            {{ vproject.members_count }} personnes veulent aider
            <div>
              <div class="chip" v-for="member in vproject.members_infos" >
                <img v-bind:src="member.avatar_url" alt="" v-if="member.avatar_url != ''">
                <a v-bind:href="member.profile_url" target="_blank">
                  {{ member.name }}
                </a>
              </div>
            </div>
          </span>
        </p>
        <div v-if="editMode">
          <div class="input-field">

            <textarea v-model="vproject.description" class="materialize-textarea" id="project_description"></textarea>
          </div>
        </div>
        <p v-else v-html="vproject.description">
          {{ vproject.description }}
        </p>
        <br />
        <p class="grey-text project-subtitle">
          <span v-if="vproject.voters_for.length > 0">
            <i class="material-icons">thumb_up</i>
            <span v-for="voter in vproject.voters_for">
              {{ voter }}
            </span>
          </span>
          <span v-if="vproject.voters_against.length > 0">
            <i class="material-icons">thumb_down</i>
            <span v-for="voter in vproject.voters_against">
              {{ voter }}
            </span>
          </span>

        </p>
      </div>
      <div class="card-action">
        <button v-if="!editMode"
                v-on:click = "vote(true)"
                class="waves-effect btn btn-flat"
                v-bind:class="{ 'green-text textdarken-3': vproject.current_user.voted_for,
                                'grey-text': !vproject.current_user.voted_for }">
          <span>
            <i class="material-icons">thumb_up</i>
            <span class="vote-in-buttons">
              {{ vproject.votes_for}}
            </span>
          </span>
        </button>
        <button v-if="!editMode"
                v-on:click = "vote(false)"
                class="waves-effect btn btn-flat"
                v-bind:class="{ 'red-text textdarken-3': vproject.current_user.voted_against,
                                'grey-text': !vproject.current_user.voted_against}">
          <span>
            <i class="material-icons">thumb_down</i>
            <span class="vote-in-buttons">
              {{ vproject.votes_against}}
            </span>
          </span>
        </button>
        <button v-if="!editMode"
                v-on:click = "vproject.current_user.is_member ? join(false) : join(true)"
                class="waves-effect btn btn-flat">
          <span>
            <span v-if="vproject.current_user.is_member">
              Je ne veux plus aider
            </span>
            <span v-else>
              Je veux aider
            </span>

          </span>
        </button>

        <button v-if="vproject.current_user.can_edit"
                v-on:click="editMode ? editMode = false: editMode=true"
                class="waves-effect btn btn-flat">
          <span>
            {{ editMode ? "Annuler" : "Modifier" }}
          </span>
        </button>
        <button v-if="editMode && vproject.current_user.can_edit" v-on:click="edit()"
                class="waves-effect btn btn-flat">
          <span>
            Plus d'options
          </span>
        </button>
        <button v-if="editMode" v-on:click="update_project" class="waves-effect btn">Enregistrer</button>
      </div>

      </div>

</script>