<div id="projects">
  <div v-for="project in projects">
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          {{ project.name }}
        </span>
        <p class="grey-text project-subtitle">
          <i class="material-icons">person</i>

          <span>
            Proposé par {{ project.author_name }}
          </span>
          <i class="material-icons">label</i>
          <span v-if="project.category">
            {{ project.category.name }}
          </span>
          <i class="material-icons">group</i>
          <span>
            {{ project.members_count }} personnes veulent aider
            <div v-for="member in project.members_infos">
              <div class="chip" v-for="member in project.members_infos" >
                <img v-bind:src="member.avatar_url" alt="" v-if="member.avatar_url != ''">
                <a v-bind:href="member.profile_url" target="_blank">
                  {{ member.name }}
                </a>
              </div>
            </div>
          </span>
        </p>
        <p>
          {{ project.description }}
        </p>
        <br />
        <p class="grey-text project-subtitle">
          <span v-if="project.voters_for.length > 0">
            <i class="material-icons">thumb_up</i>
            <span v-for="voter in project.voters_for">
              {{ voter }}
            </span>
          </span>
          <span v-if="project.voters_against.length > 0">
            <i class="material-icons">thumb_down</i>
            <span v-for="voter in project.voters_against">
              {{ voter }}
            </span>
          </span>

        </p>
      </div>
      <div class="card-action">
        <button v-on:click = "vote(project,true)"
                class="waves-effect btn btn-flat"
                v-bind:class="{ 'green-text textdarken-3': project.current_user.voted_for,
                                'grey-text': !project.current_user.voted_for }">
          <span>
            <i class="material-icons">thumb_up</i>
            <span class="vote-in-buttons">
              {{ project.votes_for}}
            </span>
          </span>
        </button>
        <button v-on:click = "vote(project,false)"
                class="waves-effect btn btn-flat"
                v-bind:class="{ 'red-text textdarken-3': project.current_user.voted_against,
                                'grey-text': !project.current_user.voted_against}">
          <span>
            <i class="material-icons">thumb_down</i>
            <span class="vote-in-buttons">
              {{ project.votes_against}}
            </span>
          </span>
        </button>
        <button v-on:click = "project.current_user.is_member ? join(project,false) : join(project,true)"
                class="waves-effect btn btn-flat">
          <span>
            <span v-if="project.current_user.is_member">
              Je ne veux plus aider
            </span>
            <span v-else>
              Je veux aider
            </span>

          </span>
        </button>

        <button v-if="project.current_user.can_edit" v-on:click="edit(project)"
                class="waves-effect btn btn-flat">
          <span>
            Modifier
          </span>
        </button>
      </div>

      </div>
  </div>
</div>
