// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.vote-in-buttons{
  vertical-align: top;
}
.project-subtitle span,
.project-subtitle a{
  vertical-align: top;
  font-size: 13px;
}
.project-subtitle i{
  font-size: 15px;
}